havenapp/app/add.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Haven</title><link rel="stylesheet" type="text/css" href="./css/stylesheet.css"><link rel="stylesheet" type="text/css" href="./css/jquery.flipster.min.css"><link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css"><link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"><link rel="stylesheet" type="text/css" href="./css/styles.css"><script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script><script src="./js/jquery.min.js"></script><script src="./js/scripts.js"></script><link rel="stylesheet" type="text/css" href="./css/add.css"><script src="./js/add.js"></script></head><body><div id="toptitle-container"><h1 id="toptitle" style="-webkit-app-region: drag;">HAVEN</h1></div><img id="toplogo" src="img/haven.png"><div class="fas fa-times icon" id="winclose"></div><div class="boxcontainer"><div class="innerbox"><div class="add"><h3 class="title">Add Project</h3><label id="adderrors"></label><br><div class="input-group"><span class="input-group-addon">Name</span><input class="form-control addform" id="name" type="text" name="name" placeholder="Name"></div><br><div class="input-group"><span class="input-group-addon">Tagline</span><input class="form-control addform" id="tagline" type="text" name="tagline" placeholder="Short description"></div><br><div class="input-group"><span class="input-group-addon">Tag</span><input class="form-control addform" id="tag" type="text" name="tag" placeholder="Add a category"></div><br><div class="input-group"><span class="input-group-addon">Color</span><input class="form-control addform" id="color" type="color" name="color" value="#FFFFFF"></div><br><button class="btn button" id="submit" type="submit" onclick="createProject()">Create</button></div></div></div></body></html>

templates/add.pug
doctype html
html
    head
        include includes/header.pug
        link(rel="stylesheet" type="text/css" href="./css/add.css")
        script(src="./js/add.js")

    body
        include includes/top.pug

        .boxcontainer
            .innerbox
                .add
                    h3.title Add Project
                    label#adderrors
                    br
                    .input-group
                        span.input-group-addon Name
                        input#name.form-control.addform(type="text" name="name" placeholder="Name")
                    
                    br
                    .input-group
                        span.input-group-addon Tagline
                        input#tagline.form-control.addform(type="text" name="tagline" placeholder="Short description")

                    br
                    .input-group
                        span.input-group-addon Tag
                        input#tag.form-control.addform(type="text" name="tag" placeholder="Add a category")

                    br
                    .input-group
                        span.input-group-addon Color
                        input#color.form-control.addform(type="color" name="color" value="#FFFFFF" )

                    br
                    button#submit.btn.button(type="submit" onclick="createProject()") Create
