havenapp/app/archive.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Haven</title><link rel="stylesheet" type="text/css" href="./css/stylesheet.css"><link rel="stylesheet" type="text/css" href="./css/jquery.flipster.min.css"><link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css"><link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"><link rel="stylesheet" type="text/css" href="./css/styles.css"><script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script><script src="./js/jquery.min.js"></script><script src="./js/scripts.js"></script><link rel="stylesheet" type="text/css" href="./css/archive.css"><script src="./js/jquery.flipster.min.js"></script><script src="./js/archive.js"></script></head><body><div id="toptitle-container"><h1 id="toptitle" style="-webkit-app-region: drag;">HAVEN</h1></div><img id="toplogo" src="img/haven.png"><div class="fas fa-times icon" id="winclose"></div><div class="boxcontainer"><div class="innerbox"><div class="loader"></div><div class="flipsterhaven" style="display: none;"><h1 id="archiveTitle">Archive</h1><div class="flipster-outside"><div class="flipster"><ul id="flipster-list"></ul></div></div></div><div class="flipster-toolbar"><span class="glyphicon glyphicon-home flipster-tool" title="Home" onclick="returnHome()"></span></div></div></div></body></html>

templates/archive.pug
doctype html
html
    head
        include includes/header.pug
        link(rel="stylesheet" type="text/css" href="./css/archive.css")
        script(src="./js/jquery.flipster.min.js")
        script(src="./js/archive.js")

    body
        include includes/top.pug

        .boxcontainer
            .innerbox
                .loader

                .flipsterhaven(style="display: none;")
                    h1#archiveTitle Archive
                    div.flipster-outside
                        div.flipster
                            ul#flipster-list
        
                div.flipster-toolbar
                    span.glyphicon.glyphicon-home.flipster-tool(title="Home" onclick="returnHome()")
