havenapp/app/index.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Haven</title><link rel="stylesheet" type="text/css" href="./css/stylesheet.css"><link rel="stylesheet" type="text/css" href="./css/jquery.flipster.min.css"><link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css"><link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"><link rel="stylesheet" type="text/css" href="./css/styles.css"><script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script><script src="./js/jquery.min.js"></script><script src="./js/scripts.js"></script><link rel="stylesheet" type="text/css" href="./css/index.css"><script src="./js/index.js"></script></head><body><div id="toptitle-container"><h1 id="toptitle" style="-webkit-app-region: drag;">HAVEN</h1></div><img id="toplogo" src="img/haven.png"><div class="fas fa-times icon" id="winclose"></div><div class="boxcontainer"><div class="innerbox"><div class="loader" style="display: none;"></div><div class="login"><h3 class="title">Login</h3><label id="loginerrors"></label><br><div class="input-group"><span class="input-group-addon" id="basic-addon1">Email</span><input class="form-control loginform" id="email" type="email" name="email" placeholder="example@example.com" aria-describedby="basic-addon1"></div><br><div class="input-group"><span class="input-group-addon" id="basic-addon2">Password</span><input class="form-control loginform" id="password" type="password" name="password" placeholder="password123" aria-describedby="basic-addon2"></div><br><button class="btn button" type="submit" onclick="auth()">Log In</button><button class="btn button" type="submit" onclick="register()">Register</button></div></div></div></body></html>

templates/index.pug
doctype html
html
    head
        include includes/header.pug
        link(rel="stylesheet" type="text/css" href="./css/index.css")
        script(src="./js/index.js")

    body
        include includes/top.pug
        .boxcontainer
            .innerbox
                .loader(style="display: none")
                .login
                    h3.title Login
                    label#loginerrors
                    br
                    .input-group
                        span#basic-addon1.input-group-addon Email
                        input#email.form-control.loginform(type="email",name="email",placeholder="example@example.com",aria-describedby="basic-addon1")

                    br
                    .input-group
                        span#basic-addon2.input-group-addon Password
                        input#password.form-control.loginform(type="password",name="password",placeholder="password123",aria-describedby="basic-addon2")

                    br
                    button.btn.button(type="submit",onclick="auth()") Log In
                    button.btn.button(type="submit",onclick="register()") Register
