havenapp/app/project.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Haven</title><link rel="stylesheet" type="text/css" href="./css/stylesheet.css"><link rel="stylesheet" type="text/css" href="./css/jquery.flipster.min.css"><link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css"><link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"><link rel="stylesheet" type="text/css" href="./css/styles.css"><script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script><script src="./js/jquery.min.js"></script><script src="./js/scripts.js"></script><link rel="stylesheet" type="text/css" href="./css/project.css"><script src="./js/logs.js"></script><script src="./js/project.js"></script></head><body><div id="toptitle-container"><h1 id="toptitle" style="-webkit-app-region: drag;">HAVEN</h1></div><img id="toplogo" src="img/haven.png"><div class="fas fa-times icon" id="winclose"></div><div class="boxcontainer"><div class="innerbox"><div class="loader"></div></div></div><div id="project-container" style="display: none;"><h1 id="projecttitle" contenteditable="true"></h1><h3 id="projecttagline" contenteditable="true"></h3><div id="project-toolbar"><span class="glyphicon glyphicon-folder-close project-tool" title="Archive" onclick="archiveProject()"></span><span class="glyphicon glyphicon-trash project-tool" title="Delete" onclick="deleteProject()"></span><span class="glyphicon glyphicon-modal-window project-tool" title="Widget" onclick="widget()"></span><span class="glyphicon glyphicon-cog project-tool" title="Settings" onclick="settings()"></span><span class="glyphicon glyphicon-home project-tool" title="Home" onclick="returnHome()"></span></div><div id="project-info"><div class="project-pages"><span class="glyphicon glyphicon-dashboard project-page selected" title="Dashboard" onclick="changePage('Dashboard', this)"></span><span class="glyphicon glyphicon-ok project-page" title="Tasks" onclick="changePage('Tasks', this)"></span><span class="glyphicon glyphicon-list-alt project-page" title="Notes" onclick="changePage('Notes', this)"></span><span class="glyphicon glyphicon-th-list project-page" title="Log" onclick="changePage('Log', this)"></span><span class="glyphicon glyphicon-link project-page" title="Links" onclick="changePage('Links', this)"></span></div><div class="project-info-column"><div class="project-field"><h3 class="project-field-nameLinks"></h3><input class="form-control projectform" id="link" type="text" name="link" placeholder="github.com/yourrepo"><ul id="project-links"></ul></div><div class="project-field"><h3 class="project-field-nameLog"></h3><ul id="project-log"></ul></div></div><div class="project-info-column"><div class="project-field"><h3 class="project-field-nameTasks"></h3><input class="form-control projectform" id="task" type="text" name="task" placeholder="New task"><ul id="project-tasks"></ul></div><div class="project-field"><h3 class="project-field-nameNotes"></h3><input class="form-control projectform" id="note" type="text" name="note" placeholder="Something to remember"><ul id="project-notes"></ul></div></div></div></div></body></html>

templates/project.pug
doctype html
html
    head
        include includes/header.pug
        link(rel="stylesheet" type="text/css" href="./css/project.css")
        script(src="./js/logs.js")
        script(src="./js/project.js")

    body
        include includes/top.pug

        .boxcontainer
            .innerbox
                .loader

        #project-container(style="display: none")
            h1#projecttitle(contenteditable="true")
            h3#projecttagline(contenteditable="true")
            #project-toolbar
                span.glyphicon.glyphicon-folder-close.project-tool(title="Archive",onclick="archiveProject()")
                span.glyphicon.glyphicon-trash.project-tool(title="Delete",onclick="deleteProject()")
                span.glyphicon.glyphicon-modal-window.project-tool(title="Widget",onclick="widget()")
                span.glyphicon.glyphicon-cog.project-tool(title="Settings",onclick="settings()")
                span.glyphicon.glyphicon-home.project-tool(title="Home",onclick="returnHome()")

            #project-info
                .project-pages
                    span.glyphicon.glyphicon-dashboard.project-page.selected(title="Dashboard",onclick="changePage('Dashboard', this)")
                    span.glyphicon.glyphicon-ok.project-page(title="Tasks",onclick="changePage('Tasks', this)")
                    span.glyphicon.glyphicon-list-alt.project-page(title="Notes",onclick="changePage('Notes', this)")
                    span.glyphicon.glyphicon-th-list.project-page(title="Log",onclick="changePage('Log', this)")
                    span.glyphicon.glyphicon-link.project-page(title="Links",onclick="changePage('Links', this)")

                div.project-info-column
                    div.project-field
                        h3.project-field-nameLinks
                        input#link.form-control.projectform(type="text",name="link",placeholder="github.com/yourrepo")
                        ul#project-links

                    div.project-field
                        h3.project-field-nameLog
                        ul#project-log

                div.project-info-column
                    div.project-field
                        h3.project-field-nameTasks
                        input#task.form-control.projectform(type="text",name="task",placeholder="New task")
                        ul#project-tasks

                    div.project-field
                        h3.project-field-nameNotes
                        input#note.form-control.projectform(type="text",name="note",placeholder="Something to remember")
                        ul#project-notes
