templates/select.pug
doctype html
html
    head
        include includes/header.pug
        link(rel="stylesheet" type="text/css" href="./css/select.css")
        script(src="./js/jquery.flipster.min.js")
        script(src="./js/select.js")

    body
        include includes/top.pug
        .boxcontainer
            .innerbox
                .loader
                
                .flipsterhaven(style="display: none")
                    #quotes
                        blockquote.blockquote
                            p.quote
                            footer.blockquote-footer
            
                    #flipster-tags
                    
                    .flipster-outside
                        .flipster
                            ul#flipster-list
                                li(style='background-color:#ffffff')
                                    div.addbox
                                        h2#add-project-name.project-name New Project
                                        h3.project-tagline Start something great
                                        button.btn.project-add(type="submit",onclick="addProject();") Begin
                        
                    
                    .flipster-toolbar
                        span.flipster-tool(title="Archive",onclick="archive()")
                            i.fas.fa-archive
                        span.glyphicon.glyphicon-stats.flipster-tool(title="Stats",onclick="stats()")
                        span.glyphicon.glyphicon-log-out.flipster-tool(title="Sign Out",onclick="signOut()")
                    
                
            
        

havenapp/app/select.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Haven</title><link rel="stylesheet" type="text/css" href="./css/stylesheet.css"><link rel="stylesheet" type="text/css" href="./css/jquery.flipster.min.css"><link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css"><link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"><link rel="stylesheet" type="text/css" href="./css/styles.css"><script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script><script src="./js/jquery.min.js"></script><script src="./js/scripts.js"></script><link rel="stylesheet" type="text/css" href="./css/select.css"><script src="./js/jquery.flipster.min.js"></script><script src="./js/select.js"></script></head><body><div id="toptitle-container"><h1 id="toptitle" style="-webkit-app-region: drag;">HAVEN</h1></div><img id="toplogo" src="img/haven.png"><div class="fas fa-times icon" id="winclose"></div><div class="boxcontainer"><div class="innerbox"><div class="loader"></div><div class="flipsterhaven" style="display: none;"><div id="quotes"><blockquote class="blockquote"><p class="quote"></p><footer class="blockquote-footer"></footer></blockquote></div><div id="flipster-tags"></div><div class="flipster-outside"><div class="flipster"><ul id="flipster-list"><li style="background-color:#ffffff;"><div class="addbox"><h2 class="project-name" id="add-project-name">New Project</h2><h3 class="project-tagline">Start something great</h3><button class="btn project-add" type="submit" onclick="addProject();">Begin</button></div></li></ul></div></div><div class="flipster-toolbar"><span class="flipster-tool" title="Archive" onclick="archive()"><i class="fas fa-archive"></i></span><span class="glyphicon glyphicon-stats flipster-tool" title="Stats" onclick="stats()"></span><span class="glyphicon glyphicon-log-out flipster-tool" title="Sign Out" onclick="signOut()"></span></div></div></div></div></body></html>
