templates/stats.pug
doctype html
html
    head
        include includes/header.pug
        link(rel="stylesheet" type="text/css" href="./css/stats.css")
        script(src="./js/jquery.flipster.min.js")
        script(src="./js/Chart.bundle.min.js")
        script(src="./js/stats.js")

    body
        include includes/top.pug

        .boxcontainer
            .innerbox

                .loader
                
                .flipsterhaven(style="display: none;")
                    h1#statsTitle Stats
                    .flipster-outside
                        .flipster
                            ul#flipster-list
                                li(style="background: #eaa23f")
                                    .project
                                        h2.project-name Other
                                        .chart-container
                                            canvas#otherc(width="400" height="400")
                                        
                                li(style="background: #3feab7")
                                    .project
                                        h2.project-name Projects
                                        .chart-container
                                            canvas#projectsc(width="400" height="400")
                                    
                                li(style="background: #ea3fb9;")
                                    .project
                                        h2.project-name Tasks
                                        .chart-container
                                            canvas#tasksc(width="400" height="400")
                
                .flipster-toolbar
                    <span title="Home" class="glyphicon glyphicon-home flipster-tool" onclick="returnHome()"></span>
            

havenapp/app/stats.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Haven</title><link rel="stylesheet" type="text/css" href="./css/stylesheet.css"><link rel="stylesheet" type="text/css" href="./css/jquery.flipster.min.css"><link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css"><link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"><link rel="stylesheet" type="text/css" href="./css/styles.css"><script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script><script src="./js/jquery.min.js"></script><script src="./js/scripts.js"></script><link rel="stylesheet" type="text/css" href="./css/stats.css"><script src="./js/jquery.flipster.min.js"></script><script src="./js/Chart.bundle.min.js"></script><script src="./js/stats.js"></script></head><body><div id="toptitle-container"><h1 id="toptitle" style="-webkit-app-region: drag;">HAVEN</h1></div><img id="toplogo" src="img/haven.png"><div class="fas fa-times icon" id="winclose"></div><div class="boxcontainer"><div class="innerbox"><div class="loader"></div><div class="flipsterhaven" style="display: none;"><h1 id="statsTitle">Stats</h1><div class="flipster-outside"><div class="flipster"><ul id="flipster-list"><li style="background: #eaa23f;"><div class="project"><h2 class="project-name">Other</h2><div class="chart-container"><canvas id="otherc" width="400" height="400"></canvas></div></div></li><li style="background: #3feab7;"><div class="project"><h2 class="project-name">Projects</h2><div class="chart-container"><canvas id="projectsc" width="400" height="400"></canvas></div></div></li><li style="background: #ea3fb9;"><div class="project"><h2 class="project-name">Tasks</h2><div class="chart-container"><canvas id="tasksc" width="400" height="400"></canvas></div></div></li></ul></div></div></div><div class="flipster-toolbar"><span title="Home" class="glyphicon glyphicon-home flipster-tool" onclick="returnHome()"></span></div></div></div></body></html>
