templates/widget.pug
doctype html
html
    head
        include includes/header.pug
        link(rel="stylesheet" type="text/css" href="./css/widget.css")
        script(src="./js/widget.js")

    body
        include includes/top.pug

        #project-container
            input#inputbar.form-control.projectform(type="text",name="task",placeholder="Type something",autofocus)
            ul#project-notes.project-field
            ul#project-tasks.project-field

havenapp/app/widget.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Haven</title><link rel="stylesheet" type="text/css" href="./css/stylesheet.css"><link rel="stylesheet" type="text/css" href="./css/jquery.flipster.min.css"><link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css"><link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"><link rel="stylesheet" type="text/css" href="./css/styles.css"><script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script><script src="./js/jquery.min.js"></script><script src="./js/scripts.js"></script><link rel="stylesheet" type="text/css" href="./css/widget.css"><script src="./js/widget.js"></script></head><body><div id="toptitle-container"><h1 id="toptitle" style="-webkit-app-region: drag;">HAVEN</h1></div><img id="toplogo" src="img/haven.png"><div class="fas fa-times icon" id="winclose"></div><div id="project-container"><input class="form-control projectform" id="inputbar" type="text" name="task" placeholder="Type something" autofocus><ul class="project-field" id="project-notes"></ul><ul class="project-field" id="project-tasks"></ul></div></body></html>
